* {
    font-family: 'Tahoma' !important;
}

.search-box {
    background: #f2f2f2;
    text-align: center;
}

.search-box-title {
    font-size: 2em;
    padding: 0;
    margin: 10px 0;
}

.search-box-form {
    padding: 80px 0 40px;
    font-size: 1.6em;
}

.search-box-form__input {
    width: 400px;
    font-size: 1em;
    padding: 0;
    vertical-align: middle;
}

.search-box-form__btn {
    font-size: 20px;
    width: 100px;
    background: #66c3ff;
    border: none;
    vertical-align: middle;
    color: white;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
}

.result {
    display: inline-block;
    vertical-align: top;
}

.result-right {
    width: 80%;
}

.result-left {
    width: 18%;
    vertical-align: middle;
}

.result-list__item {
    list-style: none;
}

.author {
    font-size: 14px;
}

.author-name {
    background: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

.author-date {
    margin: 0 15px;
    border-bottom: 2px solid #66c3ff;
}

.question {
    font-size: 20px;
}

.link-item {
    background: #66c3ff;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 100px;
    background: #66c3ff;
    border: none;
    vertical-align: middle;
    color: white;
    font-weight: 300;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
}

ul > li {
    margin: 20px 0;
}